.terrain {

	.hero-container {
		padding-bottom: $gutter*5;
		background: #3C212E;
		@extend %background-image;

		@include img-terrain-hero-sm;

		@include breakpoint-min(md) {
			@include img-terrain-hero-md;
		}

		@include breakpoint-min(lg) {
			@include img-terrain-hero-lg
		}

		&:after {
			background: rgba(palette(primary), .5);
		}
	}
}

.terrain-info {
	position: relative;
	background: palette(primary);
	transition: .5s all;

	&:hover {
		background: palette(secondary);

		.terrain-place {
			background: rgba(palette(dark), .5);

			&:after {
				color: $white;
			}
		}
	}

	.name {
		position: absolute;
		z-index: 1;
		color: $white;
		width: 100%;
		text-align: center;
		top: 5vh;
		font-size: 1.5em;
	}
}

.terrain-image {
	height: 120px;
	width: 100%;
	overflow: hidden;
	position: relative;

	img {
		width: 200%;
		min-height: 150px;
		margin-top: -25%;
		margin-left: -25%;
	}
}

.terrain-place, .terrain-details {
	padding: 10px 20px;
}

.terrain-place {
	transition: background .5s;
	position: relative;

	&:after {
		color: transparent;
		content: '...';
		top: .5vh;
		position: absolute;
		right: 16px;
	    font-size: 3em;
	    line-height: 0;
	    transition: color .75s;
	}
}

.terrain-details {

	.description {
		color: $white;
		margin: 0;
	}
}
