$view-small: 576px;
$view-medium: 768px;
$view-large: 992px;
$view-xlarge: 1200px;
$view-class: "xs", "sm", "md", "lg", "xl";

@mixin breakpoint-min($class) {

	@if $class == xs {
		@content;
	}

	@if $class == sm {
		@media (min-width: $view-small) { @content; }
	}

	@else if $class == md {
		@media (min-width: $view-medium) { @content; }
	}

	@else if $class == lg {
		@media (min-width: $view-large) { @content; }
	}

	@else if $class == xl {
		@media (min-width: $view-xlarge) { @content; }
	}
}

@mixin breakpoint-max($class) {
	@if $class == xs {
		@media (max-width: $view-small - 1) { @content; }
	}

	@else if $class == sm {
		@media (max-width: $view-medium - 1) { @content; }
	}

	@else if $class == md {
		@media (max-width: $view-large - 1) { @content; }
	}

	@else if $class == lg {
		@media (max-width: $view-xlarge - 1) { @content; }
	}
}
