// styles for site fonts
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "../vendors/icomoon/variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?fo7ec3');
  src:  url('#{$icomoon-font-path}/icomoon.eot?fo7ec3#iefix') format('embedded-opentype'),
	url('#{$icomoon-font-path}/icomoon.ttf?fo7ec3') format('truetype'),
	url('#{$icomoon-font-path}/icomoon.woff?fo7ec3') format('woff'),
	url('#{$icomoon-font-path}/icomoon.svg?fo7ec3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Neometric';
	src: url('fonts/neometric-medium-webfont.woff2') format('woff2'),
		 url('fonts/neometric-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@mixin font($type) {
	@if $type == 'sans-serif' {
		font-family: 'Open Sans', Helvetica, sans-serif;
	} @else if $type == 'headline' {
		font-family: 'Neometric', Helvetica, sans-serif;
		text-transform: uppercase;
		font-weight: normal;
	} @else {
		@warn 'The options are sans-serif or headline'
	}
}

body {

}

h1, h2, h3, h4, h5, h6 {
	@include font('headline');
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {

}

h5 {

}

h6 {

}

p {

}

ul, ol {
	margin-left: 30px;
}

label {
	text-transform: uppercase;
}

a {
	color: inherit;
	font-weight: normal;

	&:hover {
		color: inherit;
		text-decoration: underline;
	}
}

blockquote {
	p {
		margin: 0;
	}
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook {
  &:before {
	content: $icon-facebook;
  }
}
.icon-instagram {
  &:before {
	content: $icon-instagram;
  }
}
.icon-logo {
  &:before {
	content: $icon-logo;
  }
}
.icon-marker {
  &:before {
	content: $icon-marker;
  }
}
.icon-sv {
  &:before {
	content: $icon-sv;
  }
}
.icon-eb {
  &:before {
	content: $icon-eb;
  }
}

.font {
  @each $name, $color in $main {
	&-#{$name} {
		color: $color;
	}
  }
}

.background {
	h2, h3, h4, h5, h6, p, li {
		color: $white;
	}
}

.title {
	font-size: 4em;
	line-height: 1;
	text-align: center;
	text-shadow: 0 1px 3px palette(dark);
}

.subhead {
	font-size: .5em;
	display: block;
}

.sans {
  @include font(sans-serif);
}

.headline {
  @include font(headline);
}

blockquote {
	@include font(headline);
	position: relative;
	color: $white;
	background: palette(secondary);
	font-size: 1.5em;
	text-align: center;
	padding: 32px;
}






