.home {

	text-align: center;

	h2 {
		text-align: center;
	}

	.hero-container {
		background-color: palette('dark');

		@extend %background-image;

		@include img-home-hero-sm;

		@include breakpoint-min(md) {
			@include img-home-hero-md;
		}

		@include breakpoint-min(lg) {
			@include img-home-hero-lg;
		}
	}

	.title {
		margin-bottom: 48px;
	}
}
