// $army-factions: 'traitors' 'imperial' 'sisters-of-silence' 'mechanicum' 'daemons' 'loyalists' 'adeptus-astartes' 'imperium' 'adeptus-mechanicus' 'chaos-space-marines' 'chaos-daemons' 'aeldari' 'orks' 'tau' 'necrons' 'tyranids';
// $img-prefix: 'img-army-';
// $width-suffix: '__width';
// $height-suffix: '__height';
// $path-suffix: '__height';

// $army-images: null;
// $army-widths: null;
// $army-heights: null;
// $army-paths: null;

// @mixin faction-icon($faction, $width, $height, $path) {
// 	.#{$faction} {
// 		width: $width;
// 		height: $height;
// 		background-image: url($path);
// 		background-size: $width $height;
// 	}
// }

// @each $faction in $army-factions {
// 	$army-images: append($army-images, unquote('#{$img-prefix}' + '#{$faction}') );
// }

// @for $i from 1 to length($army-factions) {
// 	$faction: nth($army-images, $i);
// 	$path: nth($army-paths, $i);
// 	$width: nth($army-widths, $i);
// 	$height: nth($army-heights, $i);

// 	$army-widths: append($army-widths, unquote('$' + '#{$faction}' + '#{$width-suffix}' ) );
// 	$army-heights: append($army-heights, unquote('$' + '#{$faction}' + '#{$height-suffix}' ) );
// 	$army-paths: append($army-heights, unquote('$' + '#{$faction}' + '#{$path-suffix}' ) );

// 	.army-faction {
// 		@include faction-icon($faction, $width, $height, $path);
// 	}
// }

.army {
	display: inline-block;
}

.army-list {
	margin: 0 0 0 $gutter*9;


	.army-faction-list {
		margin-left: $gutter*2;
	}
}

.army-faction {
	position: relative;

	&.traitors:before { width: $img-army-traitors__width;height: $img-army-traitors__height ; background-image: url($img-army-traitors__path); background-size: $img-army-traitors__width $img-army-traitors__height; }
	&.imperial:before { width: $img-army-imperial__width;height: $img-army-imperial__height ; background-image: url($img-army-imperial__path); background-size: $img-army-imperial__width $img-army-imperial__height; }
	&.sisters-of-silence:before { width: $img-army-sisters-of-silence__width;height: $img-army-sisters-of-silence__height ; background-image: url($img-army-sisters-of-silence__path); background-size: $img-army-sisters-of-silence__width $img-army-sisters-of-silence__height; }
	&.mechanicum:before { width: $img-army-mechanicum__width;height: $img-army-mechanicum__height ; background-image: url($img-army-mechanicum__path); background-size: $img-army-mechanicum__width $img-army-mechanicum__height; }
	&.daemons:before { width: $img-army-daemons__width;height: $img-army-daemons__height ; background-image: url($img-army-daemons__path); background-size: $img-army-daemons__width $img-army-daemons__height; }
	&.loyalists:before { width: $img-army-loyalists__width;height: $img-army-loyalists__height ; background-image: url($img-army-loyalists__path); background-size: $img-army-loyalists__width $img-army-loyalists__height; }
	&.adeptus-astartes:before { width: $img-army-adeptus-astartes__width;height: $img-army-adeptus-astartes__height ; background-image: url($img-army-adeptus-astartes__path); background-size: $img-army-adeptus-astartes__width $img-army-adeptus-astartes__height; }
	&.imperium:before { width: $img-army-imperium__width;height: $img-army-imperium__height ; background-image: url($img-army-imperium__path); background-size: $img-army-imperium__width $img-army-imperium__height; }
	&.adeptus-mechanicus:before { width: $img-army-adeptus-mechanicus__width;height: $img-army-adeptus-mechanicus__height ; background-image: url($img-army-adeptus-mechanicus__path); background-size: $img-army-adeptus-mechanicus__width $img-army-adeptus-mechanicus__height; }
	&.chaos-space-marines:before { width: $img-army-chaos-space-marines__width;height: $img-army-chaos-space-marines__height ; background-image: url($img-army-chaos-space-marines__path); background-size: $img-army-chaos-space-marines__width $img-army-chaos-space-marines__height; }
	&.chaos-daemons:before { width: $img-army-daemons__width;height: $img-army-chaos-daemons__height ; background-image: url($img-army-chaos-daemons__path); background-size: $img-army-chaos-daemons__width $img-army-chaos-daemons__height; }
	&.aeldari:before { width: $img-army-aeldari__width;height: $img-army-aeldari__height ; background-image: url($img-army-aeldari__path); background-size: $img-army-aeldari__width $img-army-aeldari__height; }
	&.orks:before { width: $img-army-orks__width;height: $img-army-orks__height ; background-image: url($img-army-orks__path); background-size: $img-army-orks__width $img-army-orks__height; }
	&.tau:before { width: $img-army-tau__width;height: $img-army-tau__height ; background-image: url($img-army-tau__path); background-size: $img-army-tau__width $img-army-tau__height; }
	&.necrons:before { width: $img-army-necrons__width;height: $img-army-necrons__height ; background-image: url($img-army-necrons__path); background-size: $img-army-necrons__width $img-army-necrons__height; }
	&.tyranids:before { width: $img-army-tyranids__width;height: $img-army-tyranids__height ; background-image: url($img-army-tyranids__path); background-size: $img-army-tyranids__width $img-army-tyranids__height; }

	&:before {
		content: "";
		display: block;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
	}
}
