.footer {
	padding: $gutter*5 $gutter*4;
	color: $white;
	background-color: palette(dark);
	text-align: left;

	.social-headline {
		text-align: center;
	}

	.social-link {
		color: rgba($white, .8);
		transition: .5s color;
		font-size: 50px;
		margin: 0 $gutter;
		text-align: center;

		&:hover {
			color: $white;
			text-decoration: none;
		}
	}

	@extend %background-image;
	background-size: cover !important;
	height: unset !important;
	overflow: auto;

	@include img-footer-sm;

	@include breakpoint-min(md) {
		@include img-footer-md;

		.copyright {
			text-align: right;
		}
	}

	@include breakpoint-min(lg) {
		@include img-footer-lg;

	}

	.header {
		color: $white;
		@include font(headline);

		@include breakpoint-max(sm) {
			display: block;
		}
	}

	.menu {
		margin: 0;
	}

	.footer-list {
		margin: 0;

		.menu-item {
			font-size: 12px;
		}
	}

	.copyright {
		font-size: 12px;
	}

	.footer-content {
		margin-bottom: $gutter*3;
	}
}
