/* This file is generated */
@mixin img-army-adeptus-astartes() {
  width: 34px;
  height: 68px;
  background-image: url(images/army-adeptus-astartes.png);
  background-size: 34px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 34px;
    height: 68px;
    background-image: url(images/army-adeptus-astartes_2x.png);
    background-size: 34px 68px;
  }
}
$img-army-adeptus-astartes__width: 34px;
$img-army-adeptus-astartes__height: 68px;
$img-army-adeptus-astartes__path: 'images/army-adeptus-astartes_2x.png';
@mixin img-army-adeptus-mechanicus() {
  width: 48px;
  height: 68px;
  background-image: url(images/army-adeptus-mechanicus.png);
  background-size: 48px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 48px;
    height: 68px;
    background-image: url(images/army-adeptus-mechanicus_2x.png);
    background-size: 48px 68px;
  }
}
$img-army-adeptus-mechanicus__width: 48px;
$img-army-adeptus-mechanicus__height: 68px;
$img-army-adeptus-mechanicus__path: 'images/army-adeptus-mechanicus_2x.png';
@mixin img-army-aeldari() {
  width: 25px;
  height: 68px;
  background-image: url(images/army-aeldari.png);
  background-size: 25px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 25px;
    height: 68px;
    background-image: url(images/army-aeldari_2x.png);
    background-size: 25px 68px;
  }
}
$img-army-aeldari__width: 25px;
$img-army-aeldari__height: 68px;
$img-army-aeldari__path: 'images/army-aeldari_2x.png';
@mixin img-army-chaos-daemons() {
  width: 34px;
  height: 68px;
  background-image: url(images/army-chaos-daemons.png);
  background-size: 34px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 34px;
    height: 68px;
    background-image: url(images/army-chaos-daemons_2x.png);
    background-size: 34px 68px;
  }
}
$img-army-chaos-daemons__width: 34px;
$img-army-chaos-daemons__height: 68px;
$img-army-chaos-daemons__path: 'images/army-chaos-daemons_2x.png';
@mixin img-army-chaos-khorne() {
  width: 38px;
  height: 68px;
  background-image: url(images/army-chaos-khorne.png);
  background-size: 38px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 38px;
    height: 68px;
    background-image: url(images/army-chaos-khorne_2x.png);
    background-size: 38px 68px;
  }
}
$img-army-chaos-khorne__width: 38px;
$img-army-chaos-khorne__height: 68px;
$img-army-chaos-khorne__path: 'images/army-chaos-khorne_2x.png';
@mixin img-army-chaos-space-marines() {
  width: 36px;
  height: 68px;
  background-image: url(images/army-chaos-space-marines.png);
  background-size: 36px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 36px;
    height: 68px;
    background-image: url(images/army-chaos-space-marines_2x.png);
    background-size: 36px 68px;
  }
}
$img-army-chaos-space-marines__width: 36px;
$img-army-chaos-space-marines__height: 68px;
$img-army-chaos-space-marines__path: 'images/army-chaos-space-marines_2x.png';
@mixin img-army-daemons() {
  width: 34px;
  height: 68px;
  background-image: url(images/army-daemons.png);
  background-size: 34px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 34px;
    height: 68px;
    background-image: url(images/army-daemons_2x.png);
    background-size: 34px 68px;
  }
}
$img-army-daemons__width: 34px;
$img-army-daemons__height: 68px;
$img-army-daemons__path: 'images/army-daemons_2x.png';
@mixin img-army-eldar() {
  width: 29px;
  height: 68px;
  background-image: url(images/army-eldar.png);
  background-size: 29px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 29px;
    height: 68px;
    background-image: url(images/army-eldar_2x.png);
    background-size: 29px 68px;
  }
}
$img-army-eldar__width: 29px;
$img-army-eldar__height: 68px;
$img-army-eldar__path: 'images/army-eldar_2x.png';
@mixin img-army-imperial() {
  width: 36px;
  height: 68px;
  background-image: url(images/army-imperial.png);
  background-size: 36px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 36px;
    height: 68px;
    background-image: url(images/army-imperial_2x.png);
    background-size: 36px 68px;
  }
}
$img-army-imperial__width: 36px;
$img-army-imperial__height: 68px;
$img-army-imperial__path: 'images/army-imperial_2x.png';
@mixin img-army-imperium() {
  width: 36px;
  height: 68px;
  background-image: url(images/army-imperium.png);
  background-size: 36px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 36px;
    height: 68px;
    background-image: url(images/army-imperium_2x.png);
    background-size: 36px 68px;
  }
}
$img-army-imperium__width: 36px;
$img-army-imperium__height: 68px;
$img-army-imperium__path: 'images/army-imperium_2x.png';
@mixin img-army-loyalists() {
  width: 34px;
  height: 68px;
  background-image: url(images/army-loyalists.png);
  background-size: 34px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 34px;
    height: 68px;
    background-image: url(images/army-loyalists_2x.png);
    background-size: 34px 68px;
  }
}
$img-army-loyalists__width: 34px;
$img-army-loyalists__height: 68px;
$img-army-loyalists__path: 'images/army-loyalists_2x.png';
@mixin img-army-mechanicum() {
  width: 48px;
  height: 68px;
  background-image: url(images/army-mechanicum.png);
  background-size: 48px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 48px;
    height: 68px;
    background-image: url(images/army-mechanicum_2x.png);
    background-size: 48px 68px;
  }
}
$img-army-mechanicum__width: 48px;
$img-army-mechanicum__height: 68px;
$img-army-mechanicum__path: 'images/army-mechanicum_2x.png';
@mixin img-army-necrons() {
  width: 24px;
  height: 68px;
  background-image: url(images/army-necrons.png);
  background-size: 24px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 24px;
    height: 68px;
    background-image: url(images/army-necrons_2x.png);
    background-size: 24px 68px;
  }
}
$img-army-necrons__width: 24px;
$img-army-necrons__height: 68px;
$img-army-necrons__path: 'images/army-necrons_2x.png';
@mixin img-army-orks() {
  width: 36px;
  height: 68px;
  background-image: url(images/army-orks.png);
  background-size: 36px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 36px;
    height: 68px;
    background-image: url(images/army-orks_2x.png);
    background-size: 36px 68px;
  }
}
$img-army-orks__width: 36px;
$img-army-orks__height: 68px;
$img-army-orks__path: 'images/army-orks_2x.png';
@mixin img-army-sis() {
  width: 36px;
  height: 68px;
  background-image: url(images/army-sis.png);
  background-size: 36px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 36px;
    height: 68px;
    background-image: url(images/army-sis_2x.png);
    background-size: 36px 68px;
  }
}
$img-army-sis__width: 36px;
$img-army-sis__height: 68px;
$img-army-sis__path: 'images/army-sis_2x.png';
@mixin img-army-sisters-of-silence() {
  width: 38px;
  height: 68px;
  background-image: url(images/army-sisters-of-silence.png);
  background-size: 38px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 38px;
    height: 68px;
    background-image: url(images/army-sisters-of-silence_2x.png);
    background-size: 38px 68px;
  }
}
$img-army-sisters-of-silence__width: 38px;
$img-army-sisters-of-silence__height: 68px;
$img-army-sisters-of-silence__path: 'images/army-sisters-of-silence_2x.png';
@mixin img-army-tau() {
  width: 30px;
  height: 68px;
  background-image: url(images/army-tau.png);
  background-size: 30px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 30px;
    height: 68px;
    background-image: url(images/army-tau_2x.png);
    background-size: 30px 68px;
  }
}
$img-army-tau__width: 30px;
$img-army-tau__height: 68px;
$img-army-tau__path: 'images/army-tau_2x.png';
@mixin img-army-traitors() {
  width: 36px;
  height: 68px;
  background-image: url(images/army-traitors.png);
  background-size: 36px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 36px;
    height: 68px;
    background-image: url(images/army-traitors_2x.png);
    background-size: 36px 68px;
  }
}
$img-army-traitors__width: 36px;
$img-army-traitors__height: 68px;
$img-army-traitors__path: 'images/army-traitors_2x.png';
@mixin img-army-tyranids() {
  width: 42px;
  height: 68px;
  background-image: url(images/army-tyranids.png);
  background-size: 42px 68px;
  @media screen and (min-resolution: 2dppx) {
    width: 42px;
    height: 68px;
    background-image: url(images/army-tyranids_2x.png);
    background-size: 42px 68px;
  }
}
$img-army-tyranids__width: 42px;
$img-army-tyranids__height: 68px;
$img-army-tyranids__path: 'images/army-tyranids_2x.png';
@mixin img-home-hero-tau() {
  width: 1700px;
  height: 1700px;
  background-image: url(images/home-hero-tau.png);
  background-size: 1700px 1700px;
  @media screen and (min-resolution: 2dppx) {
    width: 1700px;
    height: 1700px;
    background-image: url(images/home-hero-tau_2x.png);
    background-size: 1700px 1700px;
  }
}
$img-home-hero-tau__width: 1700px;
$img-home-hero-tau__height: 1700px;
$img-home-hero-tau__path: 'images/home-hero-tau_2x.png';
@mixin img-home-hero-tyranid() {
  width: 1700px;
  height: 1700px;
  background-image: url(images/home-hero-tyranid.png);
  background-size: 1700px 1700px;
  @media screen and (min-resolution: 2dppx) {
    width: 1700px;
    height: 1700px;
    background-image: url(images/home-hero-tyranid_2x.png);
    background-size: 1700px 1700px;
  }
}
$img-home-hero-tyranid__width: 1700px;
$img-home-hero-tyranid__height: 1700px;
$img-home-hero-tyranid__path: 'images/home-hero-tyranid_2x.png';
@mixin img-logo() {
  width: 75px;
  height: 75px;
  background-image: url(images/logo.png);
  background-size: 75px 75px;
  @media screen and (min-resolution: 2dppx) {
    width: 75px;
    height: 75px;
    background-image: url(images/logo_2x.png);
    background-size: 75px 75px;
  }
}
$img-logo__width: 75px;
$img-logo__height: 75px;
$img-logo__path: 'images/logo_2x.png';
@mixin img-maelstrom-cherry() {
  width: 139px;
  height: 81px;
  background-image: url(images/maelstrom-cherry.png);
  background-size: 139px 81px;
  @media screen and (min-resolution: 2dppx) {
    width: 139px;
    height: 81px;
    background-image: url(images/maelstrom-cherry_2x.png);
    background-size: 139px 81px;
  }
}
$img-maelstrom-cherry__width: 139px;
$img-maelstrom-cherry__height: 81px;
$img-maelstrom-cherry__path: 'images/maelstrom-cherry_2x.png';
@mixin img-maelstrom-dice() {
  width: 81px;
  height: 80px;
  background-image: url(images/maelstrom-dice.png);
  background-size: 81px 80px;
  @media screen and (min-resolution: 2dppx) {
    width: 81px;
    height: 80px;
    background-image: url(images/maelstrom-dice_2x.png);
    background-size: 81px 80px;
  }
}
$img-maelstrom-dice__width: 81px;
$img-maelstrom-dice__height: 80px;
$img-maelstrom-dice__path: 'images/maelstrom-dice_2x.png';
@mixin img-maelstrom-hero-banner-lg() {
  width: 1016px;
  height: 407px;
  background-image: url(images/maelstrom-hero-banner-lg.png);
  background-size: 1016px 407px;
  @media screen and (min-resolution: 2dppx) {
    width: 1016px;
    height: 407px;
    background-image: url(images/maelstrom-hero-banner-lg_2x.png);
    background-size: 1016px 407px;
  }
}
$img-maelstrom-hero-banner-lg__width: 1016px;
$img-maelstrom-hero-banner-lg__height: 407px;
$img-maelstrom-hero-banner-lg__path: 'images/maelstrom-hero-banner-lg_2x.png';
@mixin img-maelstrom-hero-banner-sm() {
  width: 300px;
  height: 308px;
  background-image: url(images/maelstrom-hero-banner-sm.png);
  background-size: 300px 308px;
  @media screen and (min-resolution: 2dppx) {
    width: 300px;
    height: 308px;
    background-image: url(images/maelstrom-hero-banner-sm_2x.png);
    background-size: 300px 308px;
  }
}
$img-maelstrom-hero-banner-sm__width: 300px;
$img-maelstrom-hero-banner-sm__height: 308px;
$img-maelstrom-hero-banner-sm__path: 'images/maelstrom-hero-banner-sm_2x.png';
@mixin img-maelstrom-image-bar-lg() {
  width: 1200px;
  height: 853px;
  background-image: url(images/maelstrom-image-bar-lg.png);
  background-size: 1200px 853px;
  @media screen and (min-resolution: 2dppx) {
    width: 1200px;
    height: 853px;
    background-image: url(images/maelstrom-image-bar-lg_2x.png);
    background-size: 1200px 853px;
  }
}
$img-maelstrom-image-bar-lg__width: 1200px;
$img-maelstrom-image-bar-lg__height: 853px;
$img-maelstrom-image-bar-lg__path: 'images/maelstrom-image-bar-lg_2x.png';
@mixin img-maelstrom-image-bar-sm() {
  width: 320px;
  height: 228px;
  background-image: url(images/maelstrom-image-bar-sm.png);
  background-size: 320px 228px;
  @media screen and (min-resolution: 2dppx) {
    width: 320px;
    height: 228px;
    background-image: url(images/maelstrom-image-bar-sm_2x.png);
    background-size: 320px 228px;
  }
}
$img-maelstrom-image-bar-sm__width: 320px;
$img-maelstrom-image-bar-sm__height: 228px;
$img-maelstrom-image-bar-sm__path: 'images/maelstrom-image-bar-sm_2x.png';
@mixin img-maelstrom-important-1-lg() {
  width: 1200px;
  height: 240px;
  background-image: url(images/maelstrom-important-1-lg.png);
  background-size: 1200px 240px;
  @media screen and (min-resolution: 2dppx) {
    width: 1200px;
    height: 240px;
    background-image: url(images/maelstrom-important-1-lg_2x.png);
    background-size: 1200px 240px;
  }
}
$img-maelstrom-important-1-lg__width: 1200px;
$img-maelstrom-important-1-lg__height: 240px;
$img-maelstrom-important-1-lg__path: 'images/maelstrom-important-1-lg_2x.png';
@mixin img-maelstrom-important-1-sm() {
  width: 322px;
  height: 327px;
  background-image: url(images/maelstrom-important-1-sm.png);
  background-size: 322px 327px;
  @media screen and (min-resolution: 2dppx) {
    width: 322px;
    height: 327px;
    background-image: url(images/maelstrom-important-1-sm_2x.png);
    background-size: 322px 327px;
  }
}
$img-maelstrom-important-1-sm__width: 322px;
$img-maelstrom-important-1-sm__height: 327px;
$img-maelstrom-important-1-sm__path: 'images/maelstrom-important-1-sm_2x.png';
@mixin img-maelstrom-important-2-lg() {
  width: 1200px;
  height: 272px;
  background-image: url(images/maelstrom-important-2-lg.png);
  background-size: 1200px 272px;
  @media screen and (min-resolution: 2dppx) {
    width: 1200px;
    height: 272px;
    background-image: url(images/maelstrom-important-2-lg_2x.png);
    background-size: 1200px 272px;
  }
}
$img-maelstrom-important-2-lg__width: 1200px;
$img-maelstrom-important-2-lg__height: 272px;
$img-maelstrom-important-2-lg__path: 'images/maelstrom-important-2-lg_2x.png';
@mixin img-maelstrom-important-2-sm() {
  width: 322px;
  height: 409px;
  background-image: url(images/maelstrom-important-2-sm.png);
  background-size: 322px 409px;
  @media screen and (min-resolution: 2dppx) {
    width: 322px;
    height: 409px;
    background-image: url(images/maelstrom-important-2-sm_2x.png);
    background-size: 322px 409px;
  }
}
$img-maelstrom-important-2-sm__width: 322px;
$img-maelstrom-important-2-sm__height: 409px;
$img-maelstrom-important-2-sm__path: 'images/maelstrom-important-2-sm_2x.png';
@mixin img-maelstrom-important-3-lg() {
  width: 1200px;
  height: 144px;
  background-image: url(images/maelstrom-important-3-lg.png);
  background-size: 1200px 144px;
  @media screen and (min-resolution: 2dppx) {
    width: 1200px;
    height: 144px;
    background-image: url(images/maelstrom-important-3-lg_2x.png);
    background-size: 1200px 144px;
  }
}
$img-maelstrom-important-3-lg__width: 1200px;
$img-maelstrom-important-3-lg__height: 144px;
$img-maelstrom-important-3-lg__path: 'images/maelstrom-important-3-lg_2x.png';
@mixin img-maelstrom-important-3-sm() {
  width: 322px;
  height: 193px;
  background-image: url(images/maelstrom-important-3-sm.png);
  background-size: 322px 193px;
  @media screen and (min-resolution: 2dppx) {
    width: 322px;
    height: 193px;
    background-image: url(images/maelstrom-important-3-sm_2x.png);
    background-size: 322px 193px;
  }
}
$img-maelstrom-important-3-sm__width: 322px;
$img-maelstrom-important-3-sm__height: 193px;
$img-maelstrom-important-3-sm__path: 'images/maelstrom-important-3-sm_2x.png';
@mixin img-maelstrom-logo-alt() {
  width: 284px;
  height: 608px;
  background-image: url(images/maelstrom-logo-alt.png);
  background-size: 284px 608px;
  @media screen and (min-resolution: 2dppx) {
    width: 284px;
    height: 608px;
    background-image: url(images/maelstrom-logo-alt_2x.png);
    background-size: 284px 608px;
  }
}
$img-maelstrom-logo-alt__width: 284px;
$img-maelstrom-logo-alt__height: 608px;
$img-maelstrom-logo-alt__path: 'images/maelstrom-logo-alt_2x.png';
@mixin img-maelstrom-skull() {
  width: 67px;
  height: 80px;
  background-image: url(images/maelstrom-skull.png);
  background-size: 67px 80px;
  @media screen and (min-resolution: 2dppx) {
    width: 67px;
    height: 80px;
    background-image: url(images/maelstrom-skull_2x.png);
    background-size: 67px 80px;
  }
}
$img-maelstrom-skull__width: 67px;
$img-maelstrom-skull__height: 80px;
$img-maelstrom-skull__path: 'images/maelstrom-skull_2x.png';
@mixin img-maelstrom-sponsor-gamekastle-lg() {
  width: 774px;
  height: 156px;
  background-image: url(images/maelstrom-sponsor-gamekastle-lg.png);
  background-size: 774px 156px;
  @media screen and (min-resolution: 2dppx) {
    width: 774px;
    height: 156px;
    background-image: url(images/maelstrom-sponsor-gamekastle-lg_2x.png);
    background-size: 774px 156px;
  }
}
$img-maelstrom-sponsor-gamekastle-lg__width: 774px;
$img-maelstrom-sponsor-gamekastle-lg__height: 156px;
$img-maelstrom-sponsor-gamekastle-lg__path: 'images/maelstrom-sponsor-gamekastle-lg_2x.png';
@mixin img-maelstrom-sponsor-gamekastle-sm() {
  width: 285px;
  height: 58px;
  background-image: url(images/maelstrom-sponsor-gamekastle-sm.png);
  background-size: 285px 58px;
  @media screen and (min-resolution: 2dppx) {
    width: 285px;
    height: 58px;
    background-image: url(images/maelstrom-sponsor-gamekastle-sm_2x.png);
    background-size: 285px 58px;
  }
}
$img-maelstrom-sponsor-gamekastle-sm__width: 285px;
$img-maelstrom-sponsor-gamekastle-sm__height: 58px;
$img-maelstrom-sponsor-gamekastle-sm__path: 'images/maelstrom-sponsor-gamekastle-sm_2x.png';
@mixin img-maelstrom-sponsor-hammerhead-lg() {
  width: 162px;
  height: 177px;
  background-image: url(images/maelstrom-sponsor-hammerhead-lg.png);
  background-size: 162px 177px;
  @media screen and (min-resolution: 2dppx) {
    width: 162px;
    height: 177px;
    background-image: url(images/maelstrom-sponsor-hammerhead-lg_2x.png);
    background-size: 162px 177px;
  }
}
$img-maelstrom-sponsor-hammerhead-lg__width: 162px;
$img-maelstrom-sponsor-hammerhead-lg__height: 177px;
$img-maelstrom-sponsor-hammerhead-lg__path: 'images/maelstrom-sponsor-hammerhead-lg_2x.png';
@mixin img-maelstrom-sponsor-hammerhead-sm() {
  width: 51px;
  height: 58px;
  background-image: url(images/maelstrom-sponsor-hammerhead-sm.png);
  background-size: 51px 58px;
  @media screen and (min-resolution: 2dppx) {
    width: 51px;
    height: 58px;
    background-image: url(images/maelstrom-sponsor-hammerhead-sm_2x.png);
    background-size: 51px 58px;
  }
}
$img-maelstrom-sponsor-hammerhead-sm__width: 51px;
$img-maelstrom-sponsor-hammerhead-sm__height: 58px;
$img-maelstrom-sponsor-hammerhead-sm__path: 'images/maelstrom-sponsor-hammerhead-sm_2x.png';
@mixin img-maelstrom-sponsor-m3-studio-lg() {
  width: 154px;
  height: 177px;
  background-image: url(images/maelstrom-sponsor-m3-studio-lg.png);
  background-size: 154px 177px;
  @media screen and (min-resolution: 2dppx) {
    width: 154px;
    height: 177px;
    background-image: url(images/maelstrom-sponsor-m3-studio-lg_2x.png);
    background-size: 154px 177px;
  }
}
$img-maelstrom-sponsor-m3-studio-lg__width: 154px;
$img-maelstrom-sponsor-m3-studio-lg__height: 177px;
$img-maelstrom-sponsor-m3-studio-lg__path: 'images/maelstrom-sponsor-m3-studio-lg_2x.png';
@mixin img-maelstrom-sponsor-m3-studio-sm() {
  width: 49px;
  height: 58px;
  background-image: url(images/maelstrom-sponsor-m3-studio-sm.png);
  background-size: 49px 58px;
  @media screen and (min-resolution: 2dppx) {
    width: 49px;
    height: 58px;
    background-image: url(images/maelstrom-sponsor-m3-studio-sm_2x.png);
    background-size: 49px 58px;
  }
}
$img-maelstrom-sponsor-m3-studio-sm__width: 49px;
$img-maelstrom-sponsor-m3-studio-sm__height: 58px;
$img-maelstrom-sponsor-m3-studio-sm__path: 'images/maelstrom-sponsor-m3-studio-sm_2x.png';
@mixin img-maelstrom-sponsor-secret-weapon-lg() {
  width: 485px;
  height: 177px;
  background-image: url(images/maelstrom-sponsor-secret-weapon-lg.png);
  background-size: 485px 177px;
  @media screen and (min-resolution: 2dppx) {
    width: 485px;
    height: 177px;
    background-image: url(images/maelstrom-sponsor-secret-weapon-lg_2x.png);
    background-size: 485px 177px;
  }
}
$img-maelstrom-sponsor-secret-weapon-lg__width: 485px;
$img-maelstrom-sponsor-secret-weapon-lg__height: 177px;
$img-maelstrom-sponsor-secret-weapon-lg__path: 'images/maelstrom-sponsor-secret-weapon-lg_2x.png';
@mixin img-maelstrom-sponsor-secret-weapon-sm() {
  width: 155px;
  height: 58px;
  background-image: url(images/maelstrom-sponsor-secret-weapon-sm.png);
  background-size: 155px 58px;
  @media screen and (min-resolution: 2dppx) {
    width: 155px;
    height: 58px;
    background-image: url(images/maelstrom-sponsor-secret-weapon-sm_2x.png);
    background-size: 155px 58px;
  }
}
$img-maelstrom-sponsor-secret-weapon-sm__width: 155px;
$img-maelstrom-sponsor-secret-weapon-sm__height: 58px;
$img-maelstrom-sponsor-secret-weapon-sm__path: 'images/maelstrom-sponsor-secret-weapon-sm_2x.png';
@mixin img-maelstrom-sponsor-tablewar-lg() {
  width: 187px;
  height: 248px;
  background-image: url(images/maelstrom-sponsor-tablewar-lg.png);
  background-size: 187px 248px;
  @media screen and (min-resolution: 2dppx) {
    width: 187px;
    height: 248px;
    background-image: url(images/maelstrom-sponsor-tablewar-lg_2x.png);
    background-size: 187px 248px;
  }
}
$img-maelstrom-sponsor-tablewar-lg__width: 187px;
$img-maelstrom-sponsor-tablewar-lg__height: 248px;
$img-maelstrom-sponsor-tablewar-lg__path: 'images/maelstrom-sponsor-tablewar-lg_2x.png';
@mixin img-maelstrom-sponsor-tablewar-sm() {
  width: 68px;
  height: 90px;
  background-image: url(images/maelstrom-sponsor-tablewar-sm.png);
  background-size: 68px 90px;
  @media screen and (min-resolution: 2dppx) {
    width: 68px;
    height: 90px;
    background-image: url(images/maelstrom-sponsor-tablewar-sm_2x.png);
    background-size: 68px 90px;
  }
}
$img-maelstrom-sponsor-tablewar-sm__width: 68px;
$img-maelstrom-sponsor-tablewar-sm__height: 90px;
$img-maelstrom-sponsor-tablewar-sm__path: 'images/maelstrom-sponsor-tablewar-sm_2x.png';
@mixin img-maelstrom-sponsor-turbo-dork-lg() {
  width: 260px;
  height: 248px;
  background-image: url(images/maelstrom-sponsor-turbo-dork-lg.png);
  background-size: 260px 248px;
  @media screen and (min-resolution: 2dppx) {
    width: 260px;
    height: 248px;
    background-image: url(images/maelstrom-sponsor-turbo-dork-lg_2x.png);
    background-size: 260px 248px;
  }
}
$img-maelstrom-sponsor-turbo-dork-lg__width: 260px;
$img-maelstrom-sponsor-turbo-dork-lg__height: 248px;
$img-maelstrom-sponsor-turbo-dork-lg__path: 'images/maelstrom-sponsor-turbo-dork-lg_2x.png';
@mixin img-maelstrom-sponsor-turbo-dork-sm() {
  width: 84px;
  height: 90px;
  background-image: url(images/maelstrom-sponsor-turbo-dork-sm.png);
  background-size: 84px 90px;
  @media screen and (min-resolution: 2dppx) {
    width: 84px;
    height: 90px;
    background-image: url(images/maelstrom-sponsor-turbo-dork-sm_2x.png);
    background-size: 84px 90px;
  }
}
$img-maelstrom-sponsor-turbo-dork-sm__width: 84px;
$img-maelstrom-sponsor-turbo-dork-sm__height: 90px;
$img-maelstrom-sponsor-turbo-dork-sm__path: 'images/maelstrom-sponsor-turbo-dork-sm_2x.png';
@mixin img-marker-large-orange() {
  width: 41px;
  height: 62px;
  background-image: url(images/marker-large-orange.png);
  background-size: 41px 62px;
  @media screen and (min-resolution: 2dppx) {
    width: 41px;
    height: 62px;
    background-image: url(images/marker-large-orange_2x.png);
    background-size: 41px 62px;
  }
}
$img-marker-large-orange__width: 41px;
$img-marker-large-orange__height: 62px;
$img-marker-large-orange__path: 'images/marker-large-orange_2x.png';
@mixin img-marker-large-purple() {
  width: 41px;
  height: 62px;
  background-image: url(images/marker-large-purple.png);
  background-size: 41px 62px;
  @media screen and (min-resolution: 2dppx) {
    width: 41px;
    height: 62px;
    background-image: url(images/marker-large-purple_2x.png);
    background-size: 41px 62px;
  }
}
$img-marker-large-purple__width: 41px;
$img-marker-large-purple__height: 62px;
$img-marker-large-purple__path: 'images/marker-large-purple_2x.png';
@mixin img-marker-large-white() {
  width: 41px;
  height: 62px;
  background-image: url(images/marker-large-white.png);
  background-size: 41px 62px;
  @media screen and (min-resolution: 2dppx) {
    width: 41px;
    height: 62px;
    background-image: url(images/marker-large-white_2x.png);
    background-size: 41px 62px;
  }
}
$img-marker-large-white__width: 41px;
$img-marker-large-white__height: 62px;
$img-marker-large-white__path: 'images/marker-large-white_2x.png';
@mixin img-marker-small-orange() {
  width: 24px;
  height: 36px;
  background-image: url(images/marker-small-orange.png);
  background-size: 24px 36px;
  @media screen and (min-resolution: 2dppx) {
    width: 24px;
    height: 36px;
    background-image: url(images/marker-small-orange_2x.png);
    background-size: 24px 36px;
  }
}
$img-marker-small-orange__width: 24px;
$img-marker-small-orange__height: 36px;
$img-marker-small-orange__path: 'images/marker-small-orange_2x.png';
@mixin img-marker-small-purple() {
  width: 24px;
  height: 36px;
  background-image: url(images/marker-small-purple.png);
  background-size: 24px 36px;
  @media screen and (min-resolution: 2dppx) {
    width: 24px;
    height: 36px;
    background-image: url(images/marker-small-purple_2x.png);
    background-size: 24px 36px;
  }
}
$img-marker-small-purple__width: 24px;
$img-marker-small-purple__height: 36px;
$img-marker-small-purple__path: 'images/marker-small-purple_2x.png';
@mixin img-marker-small-white() {
  width: 24px;
  height: 36px;
  background-image: url(images/marker-small-white.png);
  background-size: 24px 36px;
  @media screen and (min-resolution: 2dppx) {
    width: 24px;
    height: 36px;
    background-image: url(images/marker-small-white_2x.png);
    background-size: 24px 36px;
  }
}
$img-marker-small-white__width: 24px;
$img-marker-small-white__height: 36px;
$img-marker-small-white__path: 'images/marker-small-white_2x.png';
@mixin img-terrain-bryophyta-forgotton-capital-hero() {
  width: 1200px;
  height: 487px;
  background-image: url(images/terrain-bryophyta-forgotton-capital-hero.png);
  background-size: 1200px 487px;
  @media screen and (min-resolution: 2dppx) {
    width: 1200px;
    height: 487px;
    background-image: url(images/terrain-bryophyta-forgotton-capital-hero_2x.png);
    background-size: 1200px 487px;
  }
}
$img-terrain-bryophyta-forgotton-capital-hero__width: 1200px;
$img-terrain-bryophyta-forgotton-capital-hero__height: 487px;
$img-terrain-bryophyta-forgotton-capital-hero__path: 'images/terrain-bryophyta-forgotton-capital-hero_2x.png';
@mixin img-blog-hero-lg() {
  width: 2136px;
  height: 487px;
  background-image: url(images/blog-hero-lg.jpg);
  background-size: 2136px 487px;
  @media screen and (min-resolution: 2dppx) {
    width: 2136px;
    height: 487px;
    background-image: url(images/blog-hero-lg_2x.jpg);
    background-size: 2136px 487px;
  }
}
$img-blog-hero-lg__width: 2136px;
$img-blog-hero-lg__height: 487px;
$img-blog-hero-lg__path: 'images/blog-hero-lg_2x.jpg';
@mixin img-blog-hero-md() {
  width: 992px;
  height: 487px;
  background-image: url(images/blog-hero-md.jpg);
  background-size: 992px 487px;
  @media screen and (min-resolution: 2dppx) {
    width: 992px;
    height: 487px;
    background-image: url(images/blog-hero-md_2x.jpg);
    background-size: 992px 487px;
  }
}
$img-blog-hero-md__width: 992px;
$img-blog-hero-md__height: 487px;
$img-blog-hero-md__path: 'images/blog-hero-md_2x.jpg';
@mixin img-blog-hero-sm() {
  width: 767px;
  height: 487px;
  background-image: url(images/blog-hero-sm.jpg);
  background-size: 767px 487px;
  @media screen and (min-resolution: 2dppx) {
    width: 767px;
    height: 487px;
    background-image: url(images/blog-hero-sm_2x.jpg);
    background-size: 767px 487px;
  }
}
$img-blog-hero-sm__width: 767px;
$img-blog-hero-sm__height: 487px;
$img-blog-hero-sm__path: 'images/blog-hero-sm_2x.jpg';
@mixin img-footer-lg() {
  width: 2136px;
  height: 224px;
  background-image: url(images/footer-lg.jpg);
  background-size: 2136px 224px;
  @media screen and (min-resolution: 2dppx) {
    width: 2136px;
    height: 224px;
    background-image: url(images/footer-lg_2x.jpg);
    background-size: 2136px 224px;
  }
}
$img-footer-lg__width: 2136px;
$img-footer-lg__height: 224px;
$img-footer-lg__path: 'images/footer-lg_2x.jpg';
@mixin img-footer-md() {
  width: 992px;
  height: 224px;
  background-image: url(images/footer-md.jpg);
  background-size: 992px 224px;
  @media screen and (min-resolution: 2dppx) {
    width: 992px;
    height: 224px;
    background-image: url(images/footer-md_2x.jpg);
    background-size: 992px 224px;
  }
}
$img-footer-md__width: 992px;
$img-footer-md__height: 224px;
$img-footer-md__path: 'images/footer-md_2x.jpg';
@mixin img-footer-sm() {
  width: 767px;
  height: 444px;
  background-image: url(images/footer-sm.jpg);
  background-size: 767px 444px;
  @media screen and (min-resolution: 2dppx) {
    width: 767px;
    height: 444px;
    background-image: url(images/footer-sm_2x.jpg);
    background-size: 767px 444px;
  }
}
$img-footer-sm__width: 767px;
$img-footer-sm__height: 444px;
$img-footer-sm__path: 'images/footer-sm_2x.jpg';
@mixin img-membership-check() {
  width: 1200px;
  height: 1118px;
  background-image: url(images/membership-check.jpg);
  background-size: 1200px 1118px;
  @media screen and (min-resolution: 2dppx) {
    width: 1200px;
    height: 1118px;
    background-image: url(images/membership-check_2x.jpg);
    background-size: 1200px 1118px;
  }
}
$img-membership-check__width: 1200px;
$img-membership-check__height: 1118px;
$img-membership-check__path: 'images/membership-check_2x.jpg';
@mixin img-membership-directory-hero-lg() {
  width: 2136px;
  height: 487px;
  background-image: url(images/membership-directory-hero-lg.jpg);
  background-size: 2136px 487px;
  @media screen and (min-resolution: 2dppx) {
    width: 2136px;
    height: 487px;
    background-image: url(images/membership-directory-hero-lg_2x.jpg);
    background-size: 2136px 487px;
  }
}
$img-membership-directory-hero-lg__width: 2136px;
$img-membership-directory-hero-lg__height: 487px;
$img-membership-directory-hero-lg__path: 'images/membership-directory-hero-lg_2x.jpg';
@mixin img-membership-directory-hero-md() {
  width: 992px;
  height: 487px;
  background-image: url(images/membership-directory-hero-md.jpg);
  background-size: 992px 487px;
  @media screen and (min-resolution: 2dppx) {
    width: 992px;
    height: 487px;
    background-image: url(images/membership-directory-hero-md_2x.jpg);
    background-size: 992px 487px;
  }
}
$img-membership-directory-hero-md__width: 992px;
$img-membership-directory-hero-md__height: 487px;
$img-membership-directory-hero-md__path: 'images/membership-directory-hero-md_2x.jpg';
@mixin img-membership-directory-hero-sm() {
  width: 767px;
  height: 487px;
  background-image: url(images/membership-directory-hero-sm.jpg);
  background-size: 767px 487px;
  @media screen and (min-resolution: 2dppx) {
    width: 767px;
    height: 487px;
    background-image: url(images/membership-directory-hero-sm_2x.jpg);
    background-size: 767px 487px;
  }
}
$img-membership-directory-hero-sm__width: 767px;
$img-membership-directory-hero-sm__height: 487px;
$img-membership-directory-hero-sm__path: 'images/membership-directory-hero-sm_2x.jpg';
@mixin img-terrain-hero-lg() {
  width: 2136px;
  height: 487px;
  background-image: url(images/terrain-hero-lg.jpg);
  background-size: 2136px 487px;
  @media screen and (min-resolution: 2dppx) {
    width: 2136px;
    height: 487px;
    background-image: url(images/terrain-hero-lg_2x.jpg);
    background-size: 2136px 487px;
  }
}
$img-terrain-hero-lg__width: 2136px;
$img-terrain-hero-lg__height: 487px;
$img-terrain-hero-lg__path: 'images/terrain-hero-lg_2x.jpg';
@mixin img-terrain-hero-md() {
  width: 992px;
  height: 448px;
  background-image: url(images/terrain-hero-md.jpg);
  background-size: 992px 448px;
  @media screen and (min-resolution: 2dppx) {
    width: 992px;
    height: 448px;
    background-image: url(images/terrain-hero-md_2x.jpg);
    background-size: 992px 448px;
  }
}
$img-terrain-hero-md__width: 992px;
$img-terrain-hero-md__height: 448px;
$img-terrain-hero-md__path: 'images/terrain-hero-md_2x.jpg';
@mixin img-terrain-hero-sm() {
  width: 767px;
  height: 487px;
  background-image: url(images/terrain-hero-sm.jpg);
  background-size: 767px 487px;
  @media screen and (min-resolution: 2dppx) {
    width: 767px;
    height: 487px;
    background-image: url(images/terrain-hero-sm_2x.jpg);
    background-size: 767px 487px;
  }
}
$img-terrain-hero-sm__width: 767px;
$img-terrain-hero-sm__height: 487px;
$img-terrain-hero-sm__path: 'images/terrain-hero-sm_2x.jpg';
