%pseudo {
	display: block;
	position: absolute;
	content: "";
}

.section {
	padding: 0 $gutter*2 $gutter*5;

	@include breakpoint-min(md) {  padding: 0 $gutter*4 $gutter*5; }

	&.container {
		padding-top: $gutter*5;
		@include breakpoint-min(md) {  padding-top: $gutter*10; }
	}
}

.container {
	@include breakpoint-min(md) {  margin: 0 auto; }
	@include breakpoint-min(xl) {  max-width: $view-xlarge - 32px; }
}

.hero-container {
	position: relative;
	z-index: 1;

	.hero-headline {
		@include breakpoint-max(sm) {
			padding: 0 $gutter*2;
		}
	}

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(palette(dark), .5);
		top: 0;
		z-index: -1;
	}
}

.card {
	border-radius: 5px;
	overflow: hidden;
	transition: box-shadow .5s;

	&:hover, &:focus, &:active {
		box-shadow: 0 3px 5px 2px rgba(palette(dark), .5);
	}
}

.block-link{
	display: block;

	&:hover {
		text-decoration: none;
	}

	@include breakpoint-min(md) {
		margin: 0 10px 10px;
	}
}

.location {
	margin-bottom: 0;
	color: $white;

	.icon {
		font-size: 1.5em;
		vertical-align: middle;
		margin-right: $gutter;
	}
}

.is-style-wide {
	width: 100%;
}
