.member {

	.breadcrumb {
		width: 100%;
		margin: $gutter*12 0 $gutter*2;
		padding: 10px 0 10px;
	}

	.hero-container {
		background: #3C212E;
		@extend %background-image;
		height: auto !important;

		@include img-membership-directory-hero-sm;

		@include breakpoint-min(md) {
			@include img-membership-directory-hero-md;
		}

		@include breakpoint-min(lg) {
			@include img-membership-directory-hero-lg
		}

		&:after {
			background: rgba(palette(primary), .5);
		}

		.container {
			width: 100%;
			padding: 0 $gutter*2;
		}
	}

	.member-answer {
		color: palette(primary);
	}

	.member-question {
		@include font(sans-serif);
		text-transform: none;
		color: palette(secondary);
	}

	.member-survey {

		@include breakpoint-min(md) {
			padding: 0 0 0 $gutter*2;
		}
	}

	.member-blog {

		@include breakpoint-min(md) {
			margin: $gutter*5 0 0 $gutter*2;
			padding: $gutter*5 0;
		}
	}

	.member-back {
		margin-top: $gutter*5;
	}

}

.member-profile-card {
	background: palette(primary);
	padding: 0 $gutter*2 $gutter*2;
	border-radius: 5px;
	overflow: hidden;
	position: relative;

	.member-name {
		font-size: 24px;
		margin: $gutter*10 0 $gutter*2;
		position: relative;
		z-index: 1;
	}

	.member-contact, .member-name {
		text-align: center;
	}

	%member-image-size {
		max-height: 452px;
		min-height: 40px;
		margin-left: -$gutter*2;
		margin-right: -$gutter*2;
		position: relative;
	}

	.member-frame {
		@extend %member-image-size;

		&:before {
			@extend %pseudo;
			font-family: 'icomoon';
			font-size: 6em;
			left: 50%;
			position: absolute;
			z-index: 1;
			margin-left: -48px;
		}

		&:after {
			@extend %pseudo;

			background: palette(primary);
			border-radius: 50%;
			width: 136px;
			height: 136px;
			position: absolute;
			left: 50%;
			top: 100%;
			margin-left: -68px;
			margin-top: -34px;
		}

		[class^="icon-"], [class*=" icon-"] {
			position: absolute;
			font-size: 5em;
			bottom: -70px;
			z-index: 1;
			left: 50%;
			margin-left: -40px;
		}
	}

	.member-image {
		@extend %member-image-size;

		overflow: hidden;

		img {
			width: 100%;
		}
	}

	.button {
		display: block;
	}
}

.member-army-header {
	color: palette(primary);
	margin: $gutter*2 0 -13px;

	.army-header {
		margin: 0;
	}
}

.member-armies {
	background: palette(primary);
	padding: $gutter*3 $gutter*2;
	border-radius: 5px;
	margin-bottom: $gutter*3;

	.army-faction {
		margin-bottom: $gutter*4;

		&:before {
			width: $gutter*9;
			margin: (-$gutter*2) 0 0 (-$gutter*10);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.member-quote {
	font-size: 3em;
	margin-top: 60px;

	&:before {
		content: 'BATTLE CRY';
		color: palette(secondary);
		position:absolute;
		font-size: .5em;
		top: -.9em;
		left: -1.5px;
	}
}

.member-blog-header {
	color: palette(primary);

}

.member-blog {
	border-top: palette(primary) 5px solid;
}

.blog-info {
	position: relative;
	background: palette(primary);
	transition: .5s all;
	text-align: center;

	.blog-title {
		position: absolute;
		z-index: 1;
		color: #fff;
		width: 100%;
		text-align: center;
		top: 5vh;
		font-size: 1.5em;
	}

	&:hover {
		background: palette(secondary);

		.blog-link {
			color: $white;
		}
	}
}

.blog-image {
	width: 100%;
	height: 190px;
	overflow: hidden;
	position: relative;
	text-align: center;

	img {
		width: 100%;
		min-height: 190px;
		position: absolute;
		top: 0;
		left: 0;
	}

	&:after {
		@extend %pseudo;

		width: 100%;
		height: 100%;
		background: rgba(palette(dark), .5);
		top: 0;
	}
}

.blog-link {
	@include font(headline);

	padding: $gutter 0 0;
	position: relative;
    font-size: 1.5em;
    transition: .5s color;

    @include breakpoint-min(md) {
    	color: darken(palette(primary), 20%);
    }

}

.blog-excerpt {
	padding: 10px 20px;
	text-align: left;
	font-size: 14px;
	color: $white;

	.description {
		margin: 0;
	}
}

