.maelstrom-mixer-june-2019 {

	p {
		font-size: 24px;

		&:empty {
			display: none;
		}
	}

	.section {
		padding-top: 40px;
	}

	.hero-container {
		background-color: palette(primary);
		background-image: none !important;
		padding-top: 80px;
		padding-bottom: 0;

		&:after {
			display: none;
		}
	}

	.hero-headline {
		width: 100%;

		@include breakpoint-min(md) {
			margin-left: 0;
		    max-width: 100%;
			flex-basis: 100%;
		}
	}

	.page-post-title {
		opacity: 0;
		font-size: 0;
	}

	.skull:before,
	.cherry:before,
	.dice:before {
		@include breakpoint-max(sm) {
			content: "";
			display: block;
			position: relative;
			margin: 20px auto;
		}
	}

	.skull:before {
		@include breakpoint-max(sm) {
			@include img-maelstrom-skull;
		}
	}

	.cherry:before {
		@include breakpoint-max(sm) {
			@include img-maelstrom-cherry;
		}
	}

	.dice:before {
		@include breakpoint-max(sm) {
			@include img-maelstrom-dice;
		}
	}

	.maelstrom-hero {
		@include breakpoint-min(md) {
			margin-bottom: -70px;
		}
	}
}

.maelstrom-banner-section,
.maelstrom-next-section {
	width: 110%;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: -16px;
	margin-right: -16px;

	@include breakpoint-min(md) {
		width: 100%;
		margin: 0;
	}
}

.maelstrom-next-section {
	padding: 0 16px 80px;
}

.maelstrom-hero {
	display: block;
	margin: 0 auto 30px;
	position: relative;
	z-index: 10;

	@include img-maelstrom-hero-banner-sm;

	@include breakpoint-min(md) {
		@include img-maelstrom-hero-banner-lg;
	}
}

.maelstrom-ticket-callout {
	background: palette(secondary);
	padding: $gutter*4;
	margin-right: -$gutter*2;
	margin-left: -$gutter*2;
	position: relative;
	z-index: 0;

	.button {
		display: inline-block;
	}

	.link {
		color: $white;
	}

	@include breakpoint-min(md) {
		margin: 50px 0 0;
	}
}

.maelstrom-button-row {
	text-align: center;
	padding: $gutter;
}

.maelstrom-logo-alt {
	@include breakpoint-min(md) {
		width: 100% !important;
		height: 100% !important;
		background-size: contain !important;
		background-repeat: no-repeat;

		@include img-maelstrom-logo-alt;
	}
}

.maelstrom-date {
	display: block;
	background: palette(secondary);
	color: $white;
	font-size: 36px;
	text-align: center;
	line-height: 1.25;
	@include font(headline);
}

.maelstrom-sponsor-section {
	.title {
		text-shadow: none;

		@include breakpoint-max(sm) {
			font-size: 40px;
		}
	}

	.sponsors {
		text-align: center;
	}

	.sponsor {
		display: inline-block;
		vertical-align: middle;
		margin: $gutter;

		@include breakpoint-min(md) {
			margin: $gutter*2;
		}
	}

	.sponsor-game-kastle {
		@include img-maelstrom-sponsor-gamekastle-sm;

		@include breakpoint-min(md) {
			@include img-maelstrom-sponsor-gamekastle-lg;

			max-width: 774px;
			width: 100% !important;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	.sponsor-tablewar {
		@include img-maelstrom-sponsor-tablewar-sm;

		@include breakpoint-min(md) {
			@include img-maelstrom-sponsor-tablewar-lg;
		}
	}

	.sponsor-turbo-dork {
		@include img-maelstrom-sponsor-turbo-dork-sm;

		@include breakpoint-min(md) {
			@include img-maelstrom-sponsor-turbo-dork-lg;
		}
	}

	.sponsor-hammerhead {
		@include img-maelstrom-sponsor-hammerhead-sm;

		@include breakpoint-min(md) {
			@include img-maelstrom-sponsor-hammerhead-lg;
		}
	}

	.sponsor-secret-weapon {
		@include img-maelstrom-sponsor-secret-weapon-sm;

		@include breakpoint-min(md) {
			@include img-maelstrom-sponsor-secret-weapon-lg;
		}
	}

	.sponsor-m3-studios {
		@include img-maelstrom-sponsor-m3-studio-sm;

		@include breakpoint-min(md) {
			@include img-maelstrom-sponsor-m3-studio-lg;
		}
	}
}

.maelstrom-sponsor-header {
	border-top: 4px solid rgba(palette(primary), .5);
	padding-top: $gutter*5;

	@include breakpoint-min(md) {
		padding-top: $gutter*10;
		margin: 0 8.3333333%;
	}
}


.maelstrom-banner {
	@include img-maelstrom-image-bar-sm;

	@include breakpoint-min(md) {
		height: 500px !important;
		background-size: cover;
		background-attachment: fixed;

		@include img-maelstrom-image-bar-lg;
	}

	width: 100% !important;
	background-size: cover !important;
	background-position: center;
}

.maelstrom-next-header {
	margin-bottom: 40px;
	color: palette(secondary);
	text-transform: none;
	font-weight: 600;

	@include font(sans-serif);
}

.maelstrom-event-home-section {
	padding: 80px 0;

	.maelstrom-hero {
		margin-bottom: 40px;

		@include breakpoint-min(md) {
			margin-top: -60px;
		}
	}
}

.maelstrom-home-header {
	font-size: 24px;
	line-height: 1;

	@include breakpoint-min(md) {
		font-size: 48px;
	}
}

.maelstrom-day {
	text-align: center;
}

.maelstrom-event-info {
	background-color: $black;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: $gutter*2;
	margin: 0 $gutter $gutter*2;
	color: $white;
	position: relative;

	.name {
		text-align: center;
		padding: 30px 0;
		font-size: 24px;
	}

	.strong {
		color: $yellow;
	}

	p {
		font-size: 14px;
	}
}

.maelstrom-friday-1 {
	background-image: url('images/maelstrom-event-day-1_2x.png');
}

.maelstrom-saturday-1 {
	background-image: url('images/maelstrom-event-day-2_2x.png');
}

.maelstrom-saturday-2 {
	background-image: url('images/maelstrom-event-day-3_2x.png');
}

.maelstrom-sunday-1 {
	background-image: url('images/maelstrom-event-day-4_2x.png');
}

.maelstrom-sunday-2 {
	background-image: url('images/maelstrom-event-day-5_2x.png');
}


