.maelstrom-mixer-june-2019 {

	p {
		font-size: 24px;

		&:empty {
			display: none;
		}
	}

	.section {
		padding-top: 40px;
	}

	.hero-container {
		background-color: palette(primary);
		background-image: none !important;
		padding-top: 80px;

		&:after {
			display: none;
		}
	}

	.hero-headline {
		width: 100%;
	}

	.page-post-title {
		opacity: 0;
		font-size: 0;
	}

	.skull:before,
	.cherry:before,
	.dice:before {
		@include breakpoint-max(sm) {
			content: "";
			display: block;
			position: relative;
			margin: 20px auto;
		}
	}

	.skull:before {
		@include breakpoint-max(sm) {
			@include img-maelstrom-skull;
		}
	}

	.cherry:before {
		@include breakpoint-max(sm) {
			@include img-maelstrom-cherry;
		}
	}

	.dice:before {
		@include breakpoint-max(sm) {
			@include img-maelstrom-dice;
		}
	}

	.maelstrom-hero {
		@include breakpoint-min(md) {
			margin-bottom: -70px;
		}
	}
}

.maelstrom-banner-section,
.maelstrom-next-section,
.maelstrom-important-section {
	width: 110%;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: -16px;
	margin-right: -16px;

	@include breakpoint-min(md) {
		width: 100%;
		margin: 0;
	}
}

.maelstrom-next-section {
	padding: 0 16px 80px;
}

.maelstrom-hero {
	display: block;
	margin: 0 auto;

	@include img-maelstrom-hero-banner-sm;

	@include breakpoint-min(md) {
		@include img-maelstrom-hero-banner-lg;
	}
}

.maelstrom-logo-alt {
	@include breakpoint-min(md) {
		width: 100% !important;
		height: 100% !important;
		background-size: contain !important;
		background-repeat: no-repeat;

		@include img-maelstrom-logo-alt;
	}
}

.maelstrom-banner {
	@include img-maelstrom-image-bar-sm;

	@include breakpoint-min(md) {
		height: 390px !important;
		background-size: cover;

		@include img-maelstrom-image-bar-lg;
	}
}

.maelstrom-next-header,
.maelstrom-important-header {
	margin-bottom: 40px;
	color: palette(secondary);
	text-transform: none;
	font-weight: 600;

	@include font(sans-serif);
}

.maelstrom-banner {
	width: 100% !important;
	background-size: cover !important;
	background-position: center;
}

.maelstrom-important-1,
.maelstrom-important-2,
.maelstrom-important-3 {
	height: auto !important;
	padding: 40px 16px;
	margin-bottom: 4px;

	@extend .maelstrom-banner;
}

.maelstrom-important-header {
	text-align: center;
	margin: 0 auto 40px;
}

.maelstrom-number {
	font-size: 48px;
	text-align: center;
	color: palette(white);
	display: block;
}

.maelstrom-important-1 {
	@include img-maelstrom-important-1-sm;

	@include breakpoint-min(md) {
		@include img-maelstrom-important-1-lg;
	}
}

.maelstrom-important-2 {
	@include img-maelstrom-important-2-sm;

	@include breakpoint-min(md) {
		@include img-maelstrom-important-2-lg;
	}
}

.maelstrom-important-3 {
	@include img-maelstrom-important-3-sm;

	@include breakpoint-min(md) {
		@include img-maelstrom-important-3-lg;
	}
}

.maelstrom-event-home-section {
	padding: 80px 0;

	.maelstrom-hero {
		margin-bottom: 40px;

		@include breakpoint-min(md) {
			margin-top: -60px;
		}
	}
}

.maelstrom-home-header {
	font-size: 24px;
	line-height: 1;

	@include breakpoint-min(md) {
		font-size: 48px;
	}
}


